:root.theme-dark {
  --bg-cover: url(../images/cover-image-dark.png);
  --bg-color: #000;
  --accent-color: rgb(255 0 112 / 1);
  --text-color: rgb(241 178 206 / 1);
  --article-title-color: rgba(0 0 40 / 1);
  --focus-color: rgb(219 0 255 / 1);
  --main-color: rgb(255 0 112 / 1);
}
.theme-dark .header__rec {
  display: block;
}
.theme-dark .header__theme-menu-button:hover {
  outline-color: rgba(255 0 112 / 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-cover: url(../images/cover-image-dark.png);
    --bg-color: #000;
    --accent-color: rgb(255 0 112 / 1);
    --text-color: rgb(241 178 206 / 1);
    --article-title-color: rgba(0 0 40 / 1);
    --focus-color: rgb(219 0 255 / 1);
    --main-color: rgb(255 0 112 / 1);
  }
  .header__rec {
    display: block;
  }
  .header__theme-menu-button:hover {
    outline-color: rgba(255 0 112 / 0.4);
  }
}
