.page {
  background-image: var(--bg-cover, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color, #000);
  overflow: auto;
}
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(
    --page-clamp-padding,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem),
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
  font-size: 18px;
  min-block-size: 668px;
  block-size: 100dvh;
}
.header__rec {
  position: absolute;
  top: var(
    --page-clamp-padding,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
  right: calc(
    25px +
      var(--page-clamp-padding, clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem))
  );
  color: var(--accent-color, rgb(255 0 112 / 1));
  text-transform: uppercase;
}
.header__rec:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, rgb(255 0 112 / 1));
  background-color: var(--accent-color, rgb(255 0 112 / 1));
  transform: translate(-50%, -50%);
}
.header__theme-menu {
  display: grid;
  justify-content: end;
  align-items: center;
  justify-items: center;
  block-size: 100%;
}
.header__theme-menu-list {
  display: grid;
  gap: 10px;
}
.header__theme-menu-button {
  border: none;
  padding: 2px 13px;
  color: var(--main-color, rgb(255 0 112 / 1));
  text-transform: lowercase;
  background-color: transparent;
  appearance: none;
}
.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--main-color, rgb(255 0 112 / 1));
}
.decorated-zone {
  position: relative;
}
.decorated-zone:before {
  content: '';
  position: absolute;
  top: var(
    --page-clamp-padding,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
  right: var(
    --page-clamp-padding,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--main-color, rgb(255 0 112 / 1));
  border-block-start: 1px solid var(--main-color, rgb(255 0 112 / 1));
}
.decorated-zone:after {
  content: '';
  position: absolute;
  bottom: var(
    --page-clamp-padding,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
  left: var(
    --page-clamp-padding,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--main-color, rgb(255 0 112 / 1));
  border-block-end: 1px solid var(--main-color, rgb(255 0 112 / 1));
}
.title {
  color: var(--focus-color, rgb(219 0 255 / 1));
  font-weight: 700;
  font-size: var(
    --title-clamp-small,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  font-style: bold;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color, rgb(255 0 112 / 1));
}
.header__text {
  grid-row: 3;
  justify-self: center;
  align-self: center;
  padding: 0;
  font-size: 0;
}
.title-decor {
  color: rgb(0 0 40 / 1);
  font-weight: 700;
  font-size: 1.125rem;
  font-style: bold;
  line-height: 23.4px;
  background-color: var(--accent-color, rgb(255 0 112 / 1));
  margin-block-end: 10px;
}
.title-regular {
  font-weight: 400;
}
.main {
  padding: var(
    --page-clamp-padding,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
  padding-top: 0;
  padding-bottom: 0;
  margin-block: var(
    --main-clamp-gap,
    clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem)
  );
}
.section {
  color: var(--text-color, rgb(241 178 206 / 1));
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  margin-block-end: 50px;
}
.section__container > p {
  margin-block-end: 20px;
}
.section__article:not(:last-child) {
  margin-block-end: 20px;
}
.link-effect {
  outline: none;
  text-decoration: none;
  text-shadow: 2px 2px 1px var(--accent-color, rgb(255 0 112 / 1));
}
.link-effect:hover {
  border-block-end: 1px solid currentColor;
}
.link-effect:focus {
  border-block-end: 0;
  outline: none;
}
.link-effect:focus-visible {
  border-block-end: 0;
  outline: 1px solid var(--main-color, rgb(255 0 112 / 1));
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--main-color, rgb(255 0 112 / 1));
  border: none;
  filter: opacity(0.5);
}
.header__theme-menu-button:focus {
  outline: none;
  border: none;
}
.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--main-color, rgb(255 0 112 / 1));
}
.section__title {
  margin-block-end: 20px;
  color: var(--main-color, rgb(255 0 112 / 1));
  font-size: 18px;
}
.article-text {
}
.gallery__title {
  margin-block-end: var(
    --page-clamp-padding,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
}
.gallery-list {
  display: grid;
  gap: var(
    --page-clamp-padding,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
}
.gallery__item {
  display: block;
  height: 100%;
  object-fit: cover;
}
.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  display: grid;
  justify-content: center;
  height: 100dvh;
  padding: var(
    --page-clamp-padding,
    clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem)
  );
}
.footer__text {
  align-self: center;
}

@media (width >= 768px) {
  .title {
    font-size: var(
      --title-clamp-large,
      clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
    );
  }
  .header {
    grid-template-columns: 1fr 1fr;
  }
  .header__theme-menu {
    grid-column: 2;
  }
  .header__title {
    grid-column: 1 / -1;
    margin-left: -20px;
  }
  .header__text {
    grid-column: 2;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .section:not(:last-child) {
    margin-bottom: 80px;
  }
  .section__title {
    align-content: start;
    justify-content: start;
    margin-block-end: 0;
  }
  .section__article {
    grid-column: 2 / -1;
  }
  .section:nth-child(even) .section__container {
    grid-column: span 2;
  }
  .gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
  }
  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }
  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }
  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }
  .gallery__item:nth-child(5) {
    grid-column: span 2;
  }
  .gallery__image {
    block-size: 100%;
    inline-size: 100%;
    object-position: center;
    object-fit: cover;
    display: block;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: span 2;
    justify-content: center;
    align-items: start;
  }
  .header__theme-menu-list {
    grid-auto-flow: column;
    grid-auto-columns: auto;
  }
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section__container {
    grid-column: span 2;
  }
  .section:nth-child(even) .section__container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .section:nth-child(even) .section__container > .section__article {
    grid-column: span 1;
  }
}
