/* stylelint-disable rule-empty-line-before */
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
* {
  /* outline: 2px solid orange; */
}
.page {
  background-color: var(--bg-cover);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-cover);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin: var(--page-clamp-padding);
  padding-block-end: 20px;
  font-size: 18px;
  min-block-size: 668px;
  block-size: 100dvh;
}

.header__indicator {
  position: absolute;
  top: 0;
  right: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__indicator:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  transform: translate(-50%, -50%);
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 2px 13px;
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: transparent;
  appearance: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone:after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
}

.title {
  color: var(--header-color);
  font-weight: 700;
  font-size: var(--title-clamp-small);
  font-style: bold;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  grid-row: 3;
  justify-self: center;
  align-self: center;
  padding: 0;
  font-size: 0;
}

.header__text p {
}

.title-decor {
  color: rgb(0 0 40 / 1);
  font-weight: 700;
  font-size: 1.125rem;
  font-style: bold;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.main {
  padding: var(--page-clamp-padding);
}

.section-focus {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.section-focus > p {
  margin-block-end: 20px;
}

.link-effect {
  outline: none;
  text-decoration: none;
  text-shadow: 2px 2px 1px rgb(255 0 112 / 1);
}

.link-effect:hover {
  border-block-end: 1px solid currentColor;
}

.link-effect:focus {
  border-block-end: 0;
  outline: 1px solid currentColor;
}

.section-focus__title {
  margin-block-end: 20px;
  color: var(--accent-color);
  font-size: 18px;
}

.article-text {
  margin-block-start: 10px;
  margin-block-end: 20px;
}

/* @supports (-webkit-text-stroke: 1px red) or (text-stroke: 1px red) {
  .header__title {
    -webkit-text-stroke: 2px var(--accent-color);
    text-stroke: 1px var(--accent-color);
  }
} */

.gallery {
  display: grid;
}

.gallery__item {
  display: block;
  height: 100%;
  object-fit: cover;
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  justify-content: center;
  height: 100dvh;
  margin-block-start: 40px;
  padding: var(--page-clamp-padding);
}

.footer__text {
  align-self: center;
}

@media (min-width: 768px) {
  .title {
    font-size: var(--title-clamp-large);
  }
}
